[Unit]
Wants=network-online.target
After=network-online.target
[Mount]
Type=rclone
What=arch_gdrive:
Where=/home/sho/GoogleDrive
Options=vfs-cache-mode=full,cache-dir=/home/sho/.local/var/rclone
[Install]
WantedBy=default.target
